* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 16px;
}

body {
    background-color: #e7e4e4;
    padding-top: 100px;
    justify-content: center;  
    align-items: center;  
    height: 100vh; 
}

.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff; 
    padding: 30px; 
    border-radius: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 2px solid #4d98af;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
}

button {
    background-color: #008f94;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#botao-cancelar {
    background-color: rgb(175, 0, 0);
}

ul {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    cursor: pointer;
}

.concluida{
    text-decoration: line-through;
    color: #288d47;
}